body {
  font-family: Futura;
  border: 3px solid gray;
  border-radius: 10px;
  padding: 60px;
  margin: 80px 300px 80px 300px;
}

.weatherapp {
  padding-left: 40px;
  padding-right: 40px;
}
.searchbar {
  text-align: right;
  right: 150px;
}

.locationDateTime {
  padding-top: 10px;
  padding-bottom: 10px;
}

.current {
  text-align: left;
}

.fas,
.fa-cloud {
  position: relative;
  top: 8px;
  font-size: 25px;
  color: #212529;
}

.temp {
  position: relative;
  top: -25px;
  left: 20px;
  font-size: 60px;
}

.temp small {
  position: relative;
  top: -50px;
}

.fa-cloud {
  position: relative;
  top: -20px;
  color: gray;
  font-size: 30px;
}
small {
  font-size: 10px;
  color: pink;
}

.humidity {
  font-size: 28px;
}

.humidity small {
  position: relative;
  top: -22px;
  left: 7px;
}

.percipitation {
  position: relative;
  left: 7px;
  font-size: 28px;
}

.percipitation small {
  position: relative;
  top: -22px;
  left: 7px;
}

.windspeed {
  text-align: right;
  font-size: 28px;
}
.windspeed small {
  position: relative;
  top: -22px;
  left: 30px;
}

.this-week {
  text-align: center;
  font-size: 20px;
  margin: 0px 80px 0px 80px;
}

h5 {
  text-align: center;
}
