body {
  font-family: Futura;
  border: 3px solid gray;
  border-radius: 10px;
  padding: 60px;
  margin: 80px;
}

.searchbar {
  text-align: right;
}
.row {
  text-align: left;
}

.current {
  text-align: left;
}

.searchbar {
  display: block;
  margin: 0 auto;
}

.fas,
.fa-cloud {
  position: relative;
  top: 8px;
  font-size: 25px;
  color: #212529;
}

.temp {
  position: relative;
  top: -15px;
  left: 10px;
  font-size: 80px;
}

.celsTemp {
  position: relative;
  top: -20px;
}

.temp small {
  position: relative;
  top: -50px;
}

.skies {
  position: relative;
  top: -2px;

  line-height: 11px;
}

.humidity {
  font-size: 28px;
}
small {
  font-size: 10px;
  color: pink;
}

.humidity small {
  position: relative;
  top: -23px;
}
.current-weather {
  text-align: center;
  font-size: 50px;
}

.this-week {
  text-align: center;
  font-size: 12px;
}

h5 {
  text-align: center;
}
