body {
  font-family: "Courier New", Courier, monospace;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 60px 60px 40px 60px;
  margin: 40px 290px 80px 290px;
}

.weatherapp {
  padding-left: 10px;
  padding-right: 10px;
}
.searchbar {
  text-align: center;
}

.search-form {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  height: 39px;
  width: 100%;
  padding: 2px 23px 2px 30px;
  outline: 0;
}

.locationDateTime {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 38px;
}

h2 {
  padding: 10px;
}
h6 {
  font-style: italic;
}
h6:first-letter {
  text-transform: capitalize;
}

.weather-icon img {
  position: relative;
  top: -32px;
  left: 60px;
  width: 110px;
}

.temp {
  position: relative;
  top: -25px;
  font-size: 68px;
}

.temp small {
  position: relative;
  top: -40px;
  left: -30px;
}

.temp small .active {
  color: #757575;
  cursor: default;
}

.temp small .active:hover {
  text-decoration: underline;
}

small {
  position: relative;
  top: -10px;
  font-size: 12px;
  color: #757575;
}

.otherConditions:first-letter {
  text-transform: capitalize;
}

.weatherforecast {
  position: relative;
  top: -25px;
}

h4 {
  font-size: 12px;
  text-align: center;
}

.forecast {
  text-align: center;
}
.forecast-hours {
  max-width: 160px;
}
.forecast img {
  display: block;
  margin: 0 auto;
  width: 60px;
  height: auto;
}

.link {
  position: relative;
  top: -10px;
}
